<!--loading样式，统一用回这个-->
<div class="loading-cbox {{#if hide}}fn-hide{{/if}}" id="J-LoadingFake" >
    <div class="loading-c" id="loading-b">
        <div class="loading-cc">
            <img src="https://m.zuzuche.com/w/new_index/img/order/loading-50.gif" width="50" height="42"><br>

            <p  style="" class="loading-random-text J-randomText">{{text}}</p></div>
    </div>
    <div class="cover-box" style="background: rgba(0,0,0,0.3);"></div>
</div>
<!--loading样式，统一用回这个 end-->